{% extends 'layout/auth.html' %}
{% load static %}
{% block body %}

<h4 class="mb-2">Welcome to Gnosis! 👋</h4>
<p class="mb-4">Please sign-in to your account and start the adventure</p>

<form class="mb-3" action="#" method="POST">
  {% csrf_token %}
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="text" class="form-control" id="email" name="email" placeholder="Enter your email" autofocus required />
  </div>
  <div class="mb-3 form-password-toggle">
    <div class="d-flex justify-content-between">
      <label class="form-label" for="password">Password</label>
      <a href="">
        <small>Forgot Password?</small>
      </a>
    </div>
    <div class="input-group input-group-merge">
      <input type="password" id="password" class="form-control" name="password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" required />
      <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
    </div>
  </div>
  <div class="mb-3">
    <button type="submit" class="btn btn-primary d-grid w-100" type="submit">Sign in</button>
  </div>
</form>

<p class="text-center">
  <span>New on our platform?</span>
  <a href="{% url 'register' %}">
    <span>Create an account</span>
  </a>
</p>

{% endblock %}